__pycache__/
*.pyc
.pytest_cache/
.venv/
venv/
build/
dist/
output/
installer/
*.spec
*.log
config.json
ATUALIZACOES/v*/
ATUALIZACOES/ULTIMA-VERSAO.json
ATUALIZACOES/ULTIMA-VERSAO.txt
.idea/
.vscode/
.DS_Store
Thumbs.db
